body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../assets/home.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
*{
    margin : 0 ; 
    padding : 0 ; 
    box-sizing: border-box;
}
 html { 
    scroll-behavior: smooth;
}
    
a{
            all : unset ;
        
}
ul li {
        list-style: none;
}
.top{
    position: fixed;
    bottom: 20px;
    right: 35px;
    background:blueviolet;
    border: 1px solid blueviolet;
    padding:10px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(0,0,0,.5);
    transition: .3s ;
}
.top:hover{
    background-color: white;
}
.top:hover a{
    color: blueviolet;

}
.top a{
    color:white;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(to bottom , blueviolet , white );
    border-radius: 15px;
}
/* =============================== */
header{
    padding : 25px 12% ; 
    background-color: transparent;
    color : black ;
    width:100% ;
    display : flex ; 
    justify-content: space-between;
    align-items: center;
}
 header .logo{
    font-size: 35px;
    font-weight: 700;
 }

 nav.navbar ul {
    display : flex; 
    gap: 30px;
    font-size: 18px;
 }

 nav.navbar ul li {
    cursor: pointer;
    transition: .5s;
 }
 nav.navbar ul li a{
    transition: .5s;
    padding : 10px ;
    /* border-radius: 15px; */
    border-bottom: 1px solid transparent;
 }
 nav.navbar ul li a:hover{
    /* background-color : #AF47D2 ; */
    border-bottom: 3px solid blueviolet;
 }
 nav.navbar ul li:hover{
    scale: 1.1;
 }
 .register_btn button{
    padding: 10px 25px;
    background-color: blueviolet;
    font-size: 18px;
    color: white;
    border: 2px solid blueviolet;
    border-radius:15px;
    transition: .3s;
    display: flex;
    cursor: pointer;
 }
 .register_btn 
{
    display: flex;
    gap: 30px;
    align-items: center;
}
.register_btn.register button{
    transition: 1s;
    cursor: pointer;
}
 .register_btn .register  button:hover  {
    background:linear-gradient(to right ,blueviolet , rgb(235, 127, 127)  ) ;
    scale: 1.1;

 }
 .register_btn .search button:hover {
    background:transparent;
    color: blueviolet;
    scale: 1.1;

 }
 .arrow_right{
    transition: .3s;
 }
 .register_btn button:hover .arrow_right{
    transform: translateX(12px);
    color: black;
    
 }
/* ============================================= */
/* ================    Home     ================ */
/* ============================================= */
.home .container{
    padding: 140px 200px;
    display: flex;
    gap: 250px;
    justify-content: center;
    align-items: center;
 }
 .container .content
 {
    width: 40%;
}
.journey
{
    padding:20px 20px ;
    color:orange;
    font-size: 30px;
}
.container h3{
    font-size: 50px;
 }
 .container .content .para
 {
    padding: 20px 10px;
    font-size: 18px;
    color: rgb(51, 50, 50);
 }
.home .register_btn
{
    padding: 30px;
}
.home .register_btn  button{
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.home .register_btn  button:hover  {
    background:linear-gradient(to right ,blueviolet , rgb(235, 127, 127)  ) ;
    scale: 1.1;

 }
 .home .image{
    width: 40%;
 }
 .image img{
    width: 350px;
    height: 500px;
 }
.buttons { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons .learnmore button{
    padding: 15px 22px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    transition: .3s;
    cursor: pointer;
}
.buttons .learnmore button:hover{
    background-color: white;
    color: black;
    scale: 1.1;
}
/* ============================================= */
/* ================ exploration ================ */
/* ============================================= */
.exploration{
    padding: 20px;

}
.exploration_container{
    position: relative;
    height: 100vh;
    padding:40px;
    background-color: white;
    border: 1px solid blueviolet;
    border-radius:5px;
    display: flex;
}
.explore
{
    width: 48%;
}
.cont 
{
    display: flex;
    width: 50%;
}
.cards
{
    display: flex;
    flex-wrap: wrap;
}
.card img{
    height: 100%;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
    width: 100%;
}
.card
{
     margin: 0 20px ;
    position: relative;
    display: flex;
    overflow:hidden;
    width: 21%;
    height: 40%;
    cursor: pointer;
}
.card h3{
    padding: 20px;
    color:rgba(255, 255, 255, 0.877);
}
.card .image-content
{
    position: absolute ;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  0 20px;
    background:linear-gradient( rgb(0,0,0,.1) , blueviolet);
    overflow: hidden;
    transform: translateY(100%);
    transition: .5s ease-in;
    font-weight: 900;
}
.card:hover .image-content
{
    transform: translateY(0%);

}

.courses_btn
{
    border-radius: 5px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    padding: 15px;
    margin: 20px;
    font-size: 18px;
    display: flex;
    color: white;
    cursor: pointer;
    transition: .3s;
}
.courses_btn:hover{
    background-color: transparent;
    color: blueviolet;
    scale: 1.1;
}
.courses_btn:hover .arrow_right{
    transform: translateX(12px);
    color: black;
}
.explore h3{
    font-size: 40px;
}
    /* ======================================= */
    /* ========== About section =========== */
    /* ======================================= */
.about .container2{
    margin: 50px;
    padding: 50px;
    display: flex;
    border-radius: 10px;
    box-shadow: 10px 10px 30px grey;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right  , lightblue, rgb(194, 96, 230) 50% , lightblue );
}
.about .container2 .content
{
    width: 70%;
}
.about h3
{
    padding: 20px;
    font-size: 40px;
}
.about .para{
    font-size: 18px;
    padding: 20px;
}
.about .lists
{
    display: flex;
}
.about .lists .list
{
    padding :20px ; 
}



    /* ======================================= */
    /* ========== contact section =========== */
    /* ======================================= */
    .contact{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.573);
        font-size: 20px;
        padding: 67px;
    }
    .contact .heading-title{
        color:blueviolet ;
        font-size: 60px;
        margin-bottom: 100px;
        position: relative;
        top: 40px;
    }
    .contact form{
        display: flex;
        flex-direction: column;
        max-width: 50em;
        margin: 1rem auto 0 ;
    }
    .contact form .input-box input ,
    .contact form textarea{
        width: 80%;
        color: black;
        padding: 20px;
        border-radius: 15px;
        outline: none;
        border: none;
        margin-bottom: 30px;
    }

    .contact form .send-btn{
        margin-bottom: 50px;
    }
    .contact form .send-btn input{
        width: 200px;
        outline: none;
        border: none;
        background-color: blueviolet;
        padding: 20px;
        color: white;
        border-radius: 15px;
        font-size: 18px;
        opacity: .7;
        transition: .3s;
        cursor: pointer;
    }
    .contact form .send-btn input:hover{
        opacity: 1;
        scale: 1.1;
    }
/* ======================================= */
/* ========== footer section =========== */
/* ======================================= */
footer.footer{
        background-color: blueviolet;
        color: white;
        padding: 20px;
        text-align: center;
    }
